body {
  margin: 20px;
}

#titleText {
  width: 40em;
}
#bodyText {
  width: 40em;
}

#notesList ul {
  margin: 1em 0;
  padding: 0;
}

#notesList ul li {
  list-style: none;  
  width: 25em;
  margin: 0 0 0.2em 0;
}

#notesList ul li span.edit_links {
  float:right;
}